@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
   --bg-1: #82CAFF;
   --bg-2: #D9D9D9;
   --bg-3: #CCDBE9;
   --bg-4: #004AAD;
   --bg-5: #2CBEC4;
   --bg-6: #48CAE4;

   --regal-1: #11100f;
   --regal-2: #5d1c34;
   --regal-3: #a67d44;
   --regal-4: #899481;
   --regal-5: #cdbcab;
   --regal-6: #efe9e1;

}

.cinzel-decorative {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 50px !important;
}

.c-red {
  color: deepskyblue;
}

.color-red {
  color: red;
}

.h-150 {
  height: 150px !important;
}

.f-80 {
  font-size: 80px !important;
}
.maxw-100{
  max-width: 100px !important;
}
.w-600{
  width: 600px !important;
}
.b-form{
  border: 3px solid black;
  border-radius: 5px;
}

.b-form1{
  border: 1px solid black;
  border-radius: 5px;
}

.b-form2{
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.bg-individual{
  background-color: white !important;
  
}

.h-1{
  height: 600px;
}
.h-2{
  height: 100px;
}
.bg-1{
  background-color: #82CAFF !important;
}
.bg-2{
  background-color: #D9D9D9 !important;
}
.bg-3{
  background-color: #CCDBE9 !important;
}
.bg-4{
  background-color: #CCDBE9 !important;
}
.bg-5{
  background-color: #004AAD !important;
}
.bg-6{
  background-color: #2CBEC4 !important;
}
.bg-7{
  background-color: #48CAE4 !important;
}
.bg-8{
  background-color: #0077B6 !important;
}
.bg-9{
  background-color: #1167b1 !important;
}
.color-1{
  color: #FFFFFF !important;
}
.color-2{
  color: #D9D9D9 !important;
}
.color-3{
  color: #darkred;
}

.color-n{
  color: None !important;
}

.bg-n{
  background-color: none !important
}

.transparent-btn{
 background-color: white !important;
 color: red !important;
 outline-color: black !important;
 border-color: black !important;
}
.border-2px {
  border: 2px solid black;
}
.b-1px {
  border: 1px solid black;
}

.b-r-1px {
  border-right: 1px solid black !important;
}
.aboutUsPic {
  object-fit: cover !important;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.loginBoth {
  object-fit: cover !important;
  aspect-ratio: 1/1;
}


.btn-primary {  
  background-color: royalblue !important;
  border: 0px solid transparent !important;
}

.ratings-button{
  background-color: lightblue !important;
  color: black !important;
}
  

.aboutUsCard{
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;

}
.lohinBothCard{
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 100px;
  max-height: 290px;
  align-content: flex-start;
  justify-content: space-evenly;
  padding: 2px;
}
.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
p.thick {
  font-weight: bold;
}
p.light {
  font-weight: lighter;
}

.contactUsPic {
  aspect-ratio: 1/1 !important;
  max-width: 80px;
  max-height: 80px;
}

.dashboardPic {
  aspect-ratio: 1/1 !important;
  max-width: 80px;
  max-height: 80px;
}
/* Miguel Css */


.mw-200{
  max-width: 200px !important;
}

.mw-150{
  max-width: 150px !important ;
}

.mw-300{
  max-width: 300px !important;
}

.mw-400{
  max-width: 400px !important;
}

.mw-500{
  max-width: 500px !important;
}

.mw-600{
  max-width: 600px !important;
}

.mw-700{
  max-width: 700px !important;
}

.mw-800{
  max-width: 800px !important;
}

.mw-900{
  max-width: 900px !important;
}

.mw-1000{
  max-width: 1000px !important;
}

.mw-1100{
  max-width: 1100px !important;
}

.mw-1200{
  max-width: 1200px !important;
}

.mw-1300{
  max-width: 1300px !important;
}

.mw-1400{
  max-width: 1400px !important;
}


.mnw-200{
  min-width: 200px !important;
}

.mnw-250{
  min-width: 250px !important;
}

.mnw-300{
  min-width: 300px !important;
}

.mnw-400{
  min-width: 400px !important;
}

.mnw-500{
  min-width: 500px !important;
}

.mnw-600{
  min-width: 600px !important;
}

.mnw-700{
  min-width: 700px !important;
}

.mnw-800{
  min-width: 800px !important;
}

.mnw-900{
  min-width: 900px !important;
}

.mnw-1000{
  min-width: 1000px !important;
}

.mnw-1100{
  min-width: 1100px !important;
}

.mnw-1200{
  min-width: 1200px !important;
}

.mnw-1300{
  min-width: 1300px !important;
}

.mnw-1400{
  min-width: 1400px !important;
}


.mh-200{
  max-height: 200px !important;
}

.mh-300{
  max-height: 300px !important;
}

.mh-400{
  max-height: 400px !important;
}

.mh-500{
  max-height: 500px !important;
}

.mh-600{
  max-height: 600px !important;
}

.mh-700{
  max-height: 700px !important;
}

.mnh-200{
  min-height: 200px !important;
}

.mnh-300{
  min-height: 300px !important;
}

.mnh-400{
  min-height: 400px !important;
}

.mnh-500{
  min-height: 500px !important;
}

.mnh-600{
  min-height: 600px !important;
}

.mnh-700{
  min-height: 700px !important;
}
.mnh-7=800{
  min-height: 800px !important;
}


.w-200{
  width: 200px !important;
}

.w-300{
  width: 300px !important;
}

.w-400{
  width: 400px !important;
}

.w-500{
  width: 500px !important;
}

.w-600{
  width: 600px !important;
}

.w-700{
  width: 700px !important;
}

.h-200{
  height: 200px !important;
}

.h-300{
  height: 300px !important;
}

.h-400{
  height: 400px !important;
}

.h-500{
  height: 500px !important;
}

.h-600{
  height: 600px !important;
}

.h-700{
  height: 700px !important;
}

.cover {
  object-fit: cover;
}

.navbar-border {
  border-bottom: 3px solid var(--bg-6);
}
.button1 {
  
}

.login-title {
  border-bottom: 2px solid black;
}

.b-left{
  border-left: 2px solid white;
}

.b-right{
  border-right: 2px solid white;
}

.b-top{
  border-top: 2px solid black;
}

.b-bottom{
  border-bottom: 2px solid black;
}

.b-full{
  border: 2px solid black;
}

.apply-approve-border {
  border: 1px solid black;
}

.f-10 {
  font-size: 10px;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
}
.f-26 {
  font-size: 26px;
}
.f-28 {
  font-size: 28px;
}
.f-30 {
  font-size: 30px;
}
.f-32 {
  font-size: 32px;
}
.f-34 {
  font-size: 34px;
}
.f-36 {
  font-size: 36px;
}
.f-38 {
  font-size: 38px;
}
.f-40 {
  font-size: 40px;
}
.f-42 {
  font-size: 42px;
}
.f-44 {
  font-size: 44px;
}
.f-46 {
  font-size: 46px;
}

hr {
  opacity: 1 !important;
}

.bg-m-1 {
  background-color: var(--regal-1) !important
}
.bg-m-2 {
  background-color: var(--regal-2) !important
}
.bg-m-3 {
  background-color: var(--regal-3) !important
}
.bg-m-4 {
  background-color: var(--regal-4) !important
}
.bg-m-5 {
  background-color: var(--regal-5) !important
}
.bg-m-6 {
  background-color: var(--regal-6) !important
}
.bg-9{
  background-color: #023E8A  !important;
}
.bg-10{
  background-color: #0096C7 !important;
}
.bg-11{
  background-color: #0077B6 !important;
}
.bg-12{
  background-color: #00B4D8 !important;
}
.bg-13{
  background-color: #03045E !important;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.line {
  border-bottom: 1px solid white;
  margin-top: 2px;
  width: 100%;
}
.bg-14{
  background-color: #A7C7E7 !important;
}
.bg-15{
  background-color: #B6D0E2 !important;
}
.bg-16{
  background-color: #018FC7 !important;
}
.bg-17{
  background-color: #DBEEED !important;
}
.bg-18{
  background-color: #B8E3E4 !important;
}
.bg-19{
  background-color: #9FC3CC !important;
}
.bg-20{
  background-color: #CDD7DB !important;
}
.bg-21{
  background-color: #C9DFE5  !important;
}
.bg-22{
  background-color: #C9DFE5  !important;
}
.b-body {
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-102040.jpg?ga=GA1.1.272372896.1737352446&semt=ais_hybrid');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.p-body {
  background-image: url('https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8236.jpg?ga=GA1.1.272372896.1737352446&semt=ais_hybrid');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.t-body {
  background-image: url('https://img.freepik.com/free-vector/funeral-ceremony_23-2148004761.jpg?ga=GA1.1.272372896.1737352446&semt=ais_hybrid');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bg-19{
  background-color: #9fc3cc  !important;
}
.mh-90 {
  min-height: 90vh;
}

.btn-selected {
  background-color: var(--regal-2) !important;
  color: var(--regal-6) !important;
  border: 1px solid black !important;
}

.btn-not-selected {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}
.min-height{
  min-height: 10px !important;
}
.div {
  text-align: justify;
  text-justify: inter-word;
}

.text-justify{
  text-align: justify;
}